body {
  background-color: #272733;
  color: rgba(255, 255, 255, 0.829);
}

code {
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  background: grey;
  padding-left: 3px;
  padding-right: 3px;
}

pre code {
  border: none;
  background: none;
}

pre {
  padding: 0;
  margin: 0;
}

li.cell {
  border: 1px solid;
  display: inline-flex;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 3px;
  background-color: grey;
}

li.cell a {
  text-decoration: none;
  color: blue;
  margin: auto;
}

li.cell a:visited {
  color: black;
}

fieldset.chapter {
  width: 49%;
  max-width: 49%;
  min-width: 49%;
  overflow-x: auto;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.html {
  margin-right: auto;
}

.css {
  margin-left: auto;
  align-items: top;
}

.block-label {
    align-self: center;
    border: 1px solid;
    font-size: .85rem;
    padding: 1px 4px 1px;
    top: -1px;
    position: relative;
    border-radius: 3px;
}

.block-label-workshop {
    border-color: #3b93f8;
    color: #3b93f8;
}

.block-label-lab {
    border-color: #acd157;
    color: #acd157;
}

.block-label-lecture {
    border-color: #ffc300;
    color: #ffc300;
}

.block-label-review {
    border-color: #dbb8ff;
    color: #dbb8ff;
}

.block-label-quiz {
    border-color: #ffadad;
    color: #ffadad;
}

a:visited {
  color: whitesmoke;
}


