body {
  background-color: #272733;
  color: rgba(255, 255, 255, 0.829);
}

code {
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  background: grey;
  padding-left: 3px;
  padding-right: 3px;
}

pre code {
  border: none;
  background: none;
}

pre {
  padding: 0;
  margin: 0;
  background: #0a0a23;
  border: solid 1px;
}

li.cell {
  border: 1px solid;
  display: inline-flex;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 3px;
  background-color: grey;
}

li.cell a {
  text-decoration: none;
  color: blue;
  margin: auto;
}

li.cell a:visited {
  color: black;
}

fieldset.chapter {
  width: 49%;
  max-width: 49%;
  min-width: 49%;
  overflow-x: auto;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.html {
  margin-right: auto;
}

.css {
  margin-left: auto;
  align-items: top;
}

.block-label {
    align-self: center;
    border: 1px solid;
    font-size: .85rem;
    padding: 1px 4px 1px;
    top: -1px;
    position: relative;
    border-radius: 3px;
}

.block-label-workshop {
    border-color: #3b93f8;
    color: #3b93f8;
}

.block-label-lab {
    border-color: #acd157;
    color: #acd157;
}

.block-label-lecture {
    border-color: #ffc300;
    color: #ffc300;
}

.block-label-review {
    border-color: #dbb8ff;
    color: #dbb8ff;
}

.block-label-quiz {
    border-color: #ffadad;
    color: #ffadad;
}

.block-label-cert-project {
  border-color: #f8577c;
  color: #f8577c;
}

a:visited {
  color: whitesmoke;
}

.anchor-cert-project {
  text-decoration: none;
}


/* Древовидное представление (сворачиваемый список) */
.tree{
  --spacing : 1.5rem;
  --radius  : 8.5px;
}

.tree li{
  display      : block;
  position     : relative;
  padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul{
  margin-left  : calc(var(--radius) - var(--spacing));
  padding-left : 0;
}

.tree ul li{
  border-left : 2px solid #ddd;
}

.tree ul li:last-child{
  border-color : transparent;
}

.tree ul li::before{
  content      : '';
  display      : block;
  position     : absolute;
  top          : calc(var(--spacing) / -2);
  left         : -2px;
  width        : calc(var(--spacing) + 2px);
  height       : calc(var(--spacing) + 1px);
  border       : solid #ddd;
  border-width : 0 0 2px 2px;
}

.tree summary{
  display : block;
  cursor  : pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker{
  display : none;
}

.tree summary:focus{
  outline : none;
}

.tree summary:focus-visible{
  outline : 1px dotted #000;
}

.tree li::after,
.tree summary::before{
  content       : '';
  display       : block;
  position      : absolute;
  top           : calc(var(--spacing) / 2 - var(--radius));
  left          : calc(var(--spacing) - var(--radius) - 1px);
  width         : calc(2 * var(--radius));
  height        : calc(2 * var(--radius));
  border-radius : 50%;
  background    : #ddd;
}

.tree summary::before{
  content     : '+';
  z-index     : 1;
  /* background  : #696; */
  background  : grey;
  color       : #fff;
  line-height : calc(2.5 * var(--radius) - 2px);
  text-align  : center;
}

.tree details[open] > summary::before{
  content : '−';
}